div{
  /*background-image의 기본값은 이미지가 반복됌  */
  background-color: orange;
  background-image: url("https://item.kakaocdn.net/do/d84248170c2c52303db27306a00fb861f604e7b0e6900f9ac53a43965300eb9a");
  
  /* 100%, 100vw하면 너비의 전체에 이미지가 다 보여짐. */
  width: 100vw;
  height: 500px;
  background-repeat: no-repeat;
 /* background-position : 배경 이미지 위치 설정 */
  background-position: bottom right;

  /* background-repeat : 배경이미지 반복에 대해 설정가능 */
  /* background-repeat: repeat-x; */
  
  background-size: cover;
  /* background-attachment : 배경이미지 스크롤 설정 */
  background-attachment: fixed;
  
}
