body > div {
    margin-left: 0px;
    font-weight: bold;
}
h3 {
    text-align: center;
}
.container1 {
    background-color: rgb(207, 204, 204);
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.menu1 {
    /* 한줄(일자)로 만들 수 있음 */
    display: flex;
}
.menu1 div:nth-child(2) {
    margin: 0px 10px;
}
.container2 {
    background-color: rgb(207, 204, 204);
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-top: 10px;
}

.container3 {
    background-color: rgb(207, 204, 204);
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-top: 10px;
}
.container3 .menu7 {
    display: flex;
}
.container3 div:nth-child(2) {
    margin: 0px 10px;
}
.container4 {
    background-color: rgb(207, 204, 204);
    width: 100vw;
    height: 50px;
    display: flex;
    /* 양 옆으로 붙음 */
    justify-content: space-between;
    align-items: center;
    /* 양쪽 끝에 padding값이 들어감 */
    padding: 0px 10px;
    margin-top: 10px;
}

.menu4 {
    display: flex;
}
.menu4 div:nth-child(2n) {
    margin: 0px 10px;
}
.login4 div:first-child {
    margin: 0px 10px;
}
.login4 {
    display: flex;
}

.head {
    width: 100vw;
    height: 25px;
    display: flex;
    justify-content: center;
    background-color: pink;
    align-items: center;
    padding: 0px 10px;
    margin-top: 10px;
}
