.grad{
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.grad-1{
  background: linear-gradient(gray, tomato);

}
.grad-2{
  /* 90도 돌려서 보임 */
  background: linear-gradient(90deg, gray, tomato);

}
.grad-3{
  /* 영역비중을 설정할 수 있음 */
  background: linear-gradient(90deg, gray,80%,tomato);

}
.grad-4{
  /* 위에서부터 쭉 내려오는거 확인가능 */
  background: linear-gradient(gray,tomato,yellow,pink);

}
.grad-5{
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);}
