content-wrap {
    width: 95%;
    color: white;
}
.content-container {
    width: 100%;
    display: flex;
    padding: 20px 0;
    cursor: pointer;
}
.content-img-section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-preview-section {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
img {
    width: 100%;
}
.content-container {
    border-bottom: 1px solid white;
}
.content-container:last-child {
    border-bottom: 0px;
}
.page-numbering {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
.hashtag.active {
    background-color: #50617d;
    color: aliceblue;
}
.all_btn_active {
    background-color: #50617d;
    color: aliceblue;
}
button {
    border-radius: 10px;
    border: 1px solid gray;
}
