/* 채팅 스타일 */
#message {
    display: flex;
    flex-direction: column;
}

.my-message {
    align-self: flex-end;
    background-color: lightblue;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.other-message {
    align-self: flex-start;
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}
