<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h3>form 전송 실습</h3>
        <h4>GET 요청</h4>
        <!--form action옆에 들어갈 주소는 백엔드에서 사용될 주소임(router주소) 
  전송할때는 getForm으로 보내지는 것-->
        <form action="/getForm" method="get">
            <!-- 필수로 필요하다는 의미에서 required -->
            <input type="text" placeholder="id" name="id" required />
            <input type="password" placeholder="pw" name="pw" required />
            <button type="submit">등록</button>
        </form>
    </body>
</html>
