body > div{
  margin-left: 0px;
  font-weight: bold;
}
h3{
  display: flex;
  align-items: center;
}
.container1{
  background-color: rgb(207, 204, 204);
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  position:relative;
  
}
.container2{
  background-color: rgb(207, 204, 204);
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  position:relative;
}
.container3{
  background-color: rgb(207, 204, 204);
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  position:relative;
}
.container4{
  background-color: rgb(207, 204, 204);
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  position:relative;
}
/* 수정필요 */
.con2 .logo4{
  right:10px;
  position: absolute;
}
.container1 .logo{
  left: 10px;
  position: absolute;
  
}
.container2 .logo2{
  left: 10px;
  position: absolute;

}
.container3 .logo{
  left: 10px;
  position: absolute;
}
.container3 .logo5{
  right:10px;
  position: absolute;
}
.head {
  width: 100%;
  height: 25px;
  display:flex;
  justify-content: center;
  background-color: pink;
  align-items: center;
}
.container4 .logo1{
  right:10px;
  position: absolute;
}
