.main{
  display: flex;
  position: relative;
  
}
.main img:first-child{
  width: 300px;
  height: 200px;
  z-index: 3;
  transform: skewY(20deg);
  position: absolute;
  top:100px;
  left:100px;
  
}

.main img:nth-child(2){
  width: 300px;
  height: 200px;
  z-index: 2;
  transform: skewY(20deg);
  left: 300px;
  position: absolute;
  top:80px;
}

.main img:nth-child(3){
  width: 300px;
  height: 200px;
  z-index: 1;
  transform: skewY(20deg);
  left: 500px;
  position: absolute;
  top:60px;
}
