.main{
  display: flex;
  
}
.main img:first-child{
  width: 300px;
  height: 200px;
  z-index: 3;
  transform: skewY(20deg);
  position: relative;
  top:100px;
  left:100px;
  
}

.main img:nth-child(2){
  width: 300px;
  height: 200px;
  z-index: 2;
  transform: skewY(20deg);
  left: 350px;
  position: relative;
  top:140px;
}

.main img:nth-child(3){
  width: 300px;
  height: 200px;
  z-index: 1;
  transform: skewY(20deg);
  left: 550px;
  position: relative;
  top:180px;
}
