

.box{
  width: 100px;
  height: 100px;
  background-color:red;
  position: relative;

  animation-name: my-ani;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out ;
}
@keyframes my-ani{
  0%{
    left : 0px;
  }
  25% {
    left:200px;
  }
  50%{
    left: 400px;
  }
  75% {
    left : 600px;
  }
  100%{
    left: 0px;
  }

}
.bounce-ball1{
  position:relative;
  left: 100px;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aquamarine;

  /* animation 풀어쓰기 */
  animation-name: bounce1;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* normal, reverse, alternate, alternate-reverse */
  animation-direction: alternate;

  animation-iteration-count: infinite;
  /* 단축속성 */
  animation: bounce1 1s ease-in infinite alternate;
}
@keyframes bounce1{
  /* 0% */
  to{
    top:50px;
  }
  /* 100% */
  from{
    top:300px;
  }
}
.bounce-ball2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background-color: pink;
  
  animation: bounce2 2s infinite ;
}
/* 더 공이 튀기는 모양으로 보여짐 */
@keyframes bounce2{
  /* 시작할때는 끝에 붙어있는 것 */
  from,
  to{
    bottom: 0px;
    animation-timing-function: ease-out;
  }
  /* 속도가 중간까지 느리게갔다가 빠르게 내려오고.. */
  50%{
    bottom: 300px;
    animation-timing-function: ease-in;
  }
}