img{
  width: 300px;
  height: 300px;
}
.main{
  width: 300px;
  height: 300px;
  background-color: red;
}
/* translate : 이동 */
/* transform: translate(50px, 50px); 
transform: translateX(20px);
transform: translate(65px,50px);

/*  -쪽으로도 움직일 수 있음
transforn: translate(-10px,20px) */

/* scale : 크기조절 */
/* transform: scale(0.7);
    transform: scaleX(1.5); */

/* rotate : 회전 */
/* transform: rotate(45deg); 시계방향
-붙으면 반시계방향 
transform:rotateX(45deg) : x축으로 회전*/

/* skew: 기울기 */
/*   transform: skew(10deg, 237deg);
transform:skewX(10deg) -> x축으로만 기울어짐   */

/* 한꺼번에 나타낼 수 있음 교안에 있음*/
/* transform:translate(10px, 10px) scale(3,4)  */

/* 3d */
/* transform: rotate3d(1, 1, 1, 1045deg); */
/* x,y,z축임 */

/* 뒤집어졌을때 이미지를 안보여지게 하는 속성 */
/* transform: rotateY(180deg);
backface-visibility: hidden; */