p.lion{
  background-color: red;
}
ul > .lion{
  background-color: greenyellow;
}

#tiger{
  background-color: yellow;
}
.lion{
  color: sienna;
}
ul > .lion{
  /* font-weight : 글씨 굵기 조절 */
  font-weight: bold;
}
/* ul > .lion == .zoo .lion 해도 동일한 결과 나온다. */
#tiger + li{
  background-color: skyblue;
}
li.lion ~ li {
  background-color: orange;
}
