/* span 태그 중 첫번째 선택 */
.fruits span:first-child{
  color: red;
}
.fruits h3:last-child{
  color:rgb(120, 75, 8);
}
/* fruits라는 클래스에서 3번째인거에 적용하는 것 */
.fruits :nth-child(3){
  color: aquamarine;
}
.fruits :nth-child(2n){
  color:blueviolet;
}
/* 우선순위에서 nth가 늦게 먹힘, 
딸기도 파란색으로 바뀌어야 하는데 안바뀜 */
.fruits :nth-child(2n+1){
  color:blue;
}
