/* 마우스 커서가 올라가있는 동안 색이 변함 */
a:hover{
  color:red;
}
/* 마우스 커서로 클릭하면 순간 색이 변하고 링크가 이동된다. */
a:active{
  color: yellow;
}
/* 마우스커서로 클릭하는 순간 색이 변함, 
커서가 있는 순간을 포커스가 잡혔다고 함 */
input:focus{
  background-color: orange;
}