<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../public/css/style.css" />
    </head>
    <body>
        <!-- header.ejs 불러오기(다른 파일 가져와서 쓰기) -->
        <%- include('header.ejs')%>
        <h1>Hello ejs</h1>
        <ul class="test">
            <!-- 자바스크립트 문을 사용, script 쓰지않고 
            <% %> 로 닫고 열고를 해줘야함. 각 줄마다 표시, js에서 쓰이는 코드들만 표시-->
            <% for(var i = 0; i <5;i++){%>
            <li>안녕</li>
            <%}%>
        </ul>
        <!-- js의 객체에서 정의해주는 key값과 여기서 정의해주는 key값이 동일해야함 -->
        <h1><%= name%></h1>
    </body>
</html>
