.box{
  width: 200px;
  height: 200px;
  background-color: beige;
  border-width: 10px 20px 10px 20px;
  border-style: dashed dotted solid ridge;
  border-color: red aqua yellow yellowgreen;

  /* 방향속성으로 일일히 정하는 것도 가능 */
  border-top-width: 30px;
  border-left-color: rebeccapurple;
}