.main{
  width: 400px;
  height: 400px;
  background-color: aqua;
  /* overflow:hidden -> 요소의 크기를 넘은 내용은 보여짐을 제어(잘라버림) */
 

  /* overflow: scroll -> 넘친내용은 스크롤로 내려서 볼 수 있음, 무조건 스크롤이 생김, x,y축 다! 
  overflow: auto => 부모 영역을 넘어 가는 경우에만 스크롤을 만듦*/
  /* scroll : 최근 브라우저 scroll 설정은 auto와 동일함 */
  
  /* 따로따로 설정 가능 */
  overflow-x: auto;
  overflow-y: scroll;
}