.parent{
  background-color: beige;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  position:relative;
}
.box1{
  background-color: teal;
  width: 100px;
  height: 80px;
}
.box2{
  background-color: blueviolet;
  width: 120px;
  height: 100px;
  
  /* position:relative;
  top: 30px;
  left: 30px; */
  /* 기본값은 static이라서 밑에처럼만 하면 움직이지 않음 
  position:relative; 를 해줘야 자기자신을 기준으로 움직임  */
 
  /* position: relative;
  top: 30px;
  left: 30px; */

  /* position:absolute -> 이것만 하게 되면 브라우저(body)를 기준으로
  위치를 이동하기 때문에 붕 뜰 수 있음 
  이걸 해결하기 위해선 부모요소에 position = realative; 해줘야 붕뜨지 않음
  고정되어 있지만 부모 따라다니면서 위치가 움직임*/
  position:absolute;
  top: 30px;
  left: 30px;
}
.box3{
  background-color: goldenrod;
  width: 100px;
  height: 150px;
}