.box{
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  /* border의 단축속성 */
  /* border: 2px solid #ff0000; */

  /* 이렇게 따로따로 개별속성으로도 가능함, 그대신 너비, 종류, 컬러 다 넣어줘야함 */
  border-width: 3px;
  border-style: solid;
  border-color: blueviolet;

  
  /* padding-bottom: 1.5px; */
  /* border-bottom: 1.5px; */

  /* border-radius : 모서리 변경 */
  /* border-radius: 10px; */
  /* border-radius: 0 20px 0 10px; */
  /* border-bottom-right-radius: 50px; */
  /* border-top-left-radius: 20px; */

  border-radius: 10px 20px 30px 40px; 

  /* 원 만들 수 있음 */
  /* border-radius: 50%; */
  
}