.main > div{
  /* layout : 레이아웃을 꾸밀 때 사용, 화면에 어떻게
  요소들을 보여줄지 나타내는 것
  inline만 해도 되고, block 만 해도 되고 원하는 형태 가능 */
  display: inline-block;
  width: 50px; 

  /* width와 같이 꾸미는건 inline일때는 불가함 */
  height: 100px;
}
.main{
  /* margin : 요소의 외부 여백을 지정 */
  margin : 20px 40px 60px 70px ;
  /* margin-top:100px 
  이렇게 하면 개별 속성 가능 */
  /*  border : 테두리 선을 그리는 속성*/
  border: solid 2px rebeccapurple;
  /* padding : 요소의 내부 여백을 지정 */
  padding: 30px;
  /* padding : 10px 20px; 이렇게 위 오른쪽 아래 왼쪽 지정가능 */
}
/* span{
  display: block;
} */

