//SASS styling : css 전처리

// - 변수 선언 : $ 키워드 사용
$color-red: red;
$color-yellow: yellow;
$color-orange: orange;

//- 믹스인(함수) 선언(정의)
//() : 파라미터 값을 받음
@mixin box($size) {
  width: $size; //전달받은 size로 사용하겠다.
  height: $size;
}

//- 중첩 : 부모 자식 관계를 표현할 수 있음
.container {
  display: flex;

  .box {
    // width: 100px;
    //mixin 호출
    @include box(150px); //box라는 클래스를 가진 요소에 () 안의 값이 적용된다.

    &.red {
      //& 표시 : className="box red" 뜻과 동일하다. , 부모 선택자 참조해서 치환
      background-color: $color-red;
    }
    &.orange {
      background-color: $color-orange;
    }
    &.yellow {
      background-color: $color-yellow;
    }
  }
}
