.content{
  animation: text 2s ease-out 1s 1 ;
  /* 아래 순서에 해당한다 참고. */
 /* animation: name duration timing-function delay iteration-count; */
  position: relative;
  
}
@keyframes text{
   
  /* 애니메이션의 시작상태 */
  from{
    /* 이때 right:0; 을 하면 안되는 이유? 
    right:500px로 하면 시작할때부터 500px에 고정되어있으니까 안되고, 0px도 마찬가지이다. */
    left: 100%;
    /* left: 100%; */
    width: 200%;
  }
  /* 애니메이션의 마지막 상태 */
  to{
    left: 0;
    /* 두줄로 나오게끔하려면 width를 줄여야 가능하니까 */
    width: 100%;
  } 
}