<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>댓글모음</h1>
        <a href="/">메인으로 이동</a>
        <br />
        <ul>
          <%  for(let i = 0; i<list.length; i++){ %>
                  <li>
                    <b><%= list[i].userid%></b>
                    <!-- 여기서 Id는 데이터베이스에서 오는 id, 즉 임시db만든 파일 -->
                    <a href="/comment/<%= list[i].id%>"><%= list[i].comment%></a>
                    <!-- list[i].id : controller에서 list로 나오게끔 지정한 데이터의 id추출 -->
                  </li>
         <%   } %>
        </ul>
    </body>
</html>
