<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>프로필 - 일반폼 전송</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>프로필 작성</legend>
                <input type="text" name="id" placeholder="아이디" /><br />
                <input type="password" name="pw" placeholder="비밀번호" /><br />
                <input type="text" name="name" placeholder="이름" /><br />
                <input type="number" name="age" placeholder="나이" /><br />
                <input type="file" name="userFile" /><br />
                <button type="submit">업로드</button>
            </fieldset>
        </form>
    </body>
</html>
