//변수 처리
// scss 파일 앞에 _ 의미 : 이 파일은 css 파일로 변환될 필요가 없다,
$color-red: red;
$color-yellow: yellow;
$color-orange: orange;

$animation-duration: 0.4s;

$color-body1: rgb(0, 0, 166);
$color-body2: rgb(36, 61, 206);
$color-body3: rgb(52, 118, 231);
$color-body4: rgb(47, 146, 233);
$color-body5: rgb(140, 191, 253);

$border-radius: 50%;

$font-size: 20px;
@mixin raw($border) {
  border: 1px solid rgb(152, 152, 221);
  box-shadow: 2px 2px 2px 2px gray;
  // margin-bottom: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto 20px;
  background-color: rgb(165, 215, 235);
}
